# Database Configuration
DATABASE_URL=mysql+pymysql://root:@localhost/flask_db

# Security Configuration
JWT_SECRET_KEY="HTELXPM5abn2unNMin7J!7^*&rmEKDUL188gH8NDbeaLrvHk!$@*&"

# JWT Expiration in hours
JWT_ACCESS_TOKEN_EXPIRES_HOURS=12
